@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;

  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 29%, rgba(72, 173, 141, 1) 53%, rgba(185, 100, 79, 1) 100%, rgba(87, 199, 133, 1) 82%, rgba(237, 221, 83, 1) 9%);
}